<select class="width-full" aria-label="Select an industry" name="industry[]">
    <option value="">All Industries</option>
    <option value="advertising-marketing">Advertising &amp; Marketing</option>
    <option value="agriculture-fishing">Agriculture, Fishing &amp; Forestry</option>
    <option value="administration">Administration</option>
    <option value="art-design">Art, Design &amp; Entertainment</option>
    <option value="automotive-aviation">Automotive &amp; Aviation</option>
    <option value="banking-finance">Accounting, Banking, Finance &amp; Insurance</option>
    <option value="management">Business and Management</option>
    <option value="community-and-social-services-non-profits">Community and social services, non-profits</option>
    <option value="construction">Construction</option>
    <option value="digital-media-comms">Digital, Media &amp; Communications</option>
    <option value="education">Education &amp; Training</option>
    <option value="energy">Energy &amp; Utilities</option>
    <option value="government">Government</option>
    <option value="handyman-construction">Handyman and Construction</option>
    <option value="healthcare">Healthcare &amp; Wellbeing</option>
    <option value="hospitality-hotel">Hospitality, Travel, Food and Restaurants &amp; Hotel</option>
    <option value="human-resources">Human Resources</option>
    <option value="internet-telecoms">ICT, Software &amp; Telecommunications</option>
    <option value="enforcement-security">Law Enforcement, Legal &amp; Security</option>
    <option value="operations">Logistics &amp; Transportation</option>
    <option value="manufacturing">Manufacturing &amp; Engineering</option>    
    <option value="media-and-languages">Media and Languages</option>
    <option value="mining-oil">Mining, Oil &amp; Metals</option>
    <option value="ngo">NGO</option>
    <option value="real-estate">Real Estate</option>
    <option value="hr-recruitment">Recruitment</option>
    <option value="retail-fmcg">Retail, Fashion &amp; FMCG</option>
    <option value="marketing">Sales and Marketing</option>
    <option value="security">Security</option>
    <option value="teaching">Teaching, Research and Academy</option>
</select>

<select class="select-text" required="">
    <option></option>
   
</select>