<select class="width-full" aria-label="Select an industry" name="industry[]">',

'Advertising & Marketing',
'Agriculture, Fishing & Forestry',
'Administration',
'Art, Design & Entertainment',
'Automotive & Aviation',
'Accounting, Banking, Finance & Insurance',
'Business and Management',
'Community and social services, non-profits',
'Construction',
'Digital, Media & Communications',
'Education & Training',
'Energy & Utilities',
'Government',
'Handyman and Construction',
'Healthcare & Wellbeing',
'Hospitality, Travel, Food and Restaurants & Hotel',
'Human Resources',
'ICT, Software & Telecommunications',
'Law Enforcement, Legal & Security',
'Logistics & Transportati',on',
'Manufacturing & Engineering'',
'Media and Languages',
'Mining, Oil & Metals',
'NGO',
'Real Estate',
'Recruitment',
'Retail, Fashion & FMCG',
'Sales and Marketing',
'Security',
'Teaching, Research & Academy',
</select>

<select class="select-text" required="">
    <option></option>
   
</select>