<option value="Nairobi">Nairobi</option>
<option value="Kisumu">Kisumu</option>
<option value="Kampala">Kampala</option>
<option value="Maseno">Maseno</option>
<option value="Siaya">Siaya</option>
<option value="Mbale(kenya)">Mbale(kenya)</option>
<option value="Bondo">Bondo</option>
<option value="Usenge">Usenge</option>
<option value="Nakuru">Nakuru</option>
<option value="Kericho">Kericho</option>
<option value="Ugunja">Ugunja</option>
<option value="Bumala">Bumala</option>
<option value="Busia">Busia</option>
<option value="Sirare">Sirare</option>
<option value="Homa Bay">Homa Bay</option>
<option value="Oyugis">Oyugis</option>
<option value="Kisii">Kisii</option>
<option value="Migori">Migori</option>
<option value="Awendo">Awendo</option>
<option value="Bomet">Bomet</option>
<option value="Narok">Narok</option>
<option value="Rongo">Rongo</option>
<option value="Keroka">Keroka</option>
<option value="Kapsabet">Kapsabet</option>
<option value="Mumias">Mumias</option>
<option value="Kaimosi">Kaimosi</option>
<option value="Kakamega">Kakamega</option>
<option value="Eldoret">Eldoret</option>
<option value="Webuye">Webuye</option>
<option value="Moi's Bridge">Moi's Bridge</option>
<option value="Malaba">Malaba</option>
<option value="Bungoma">Bungoma</option>
<option value="Kitale">Kitale</option>
<option value="Mbita">Mbita</option>
<option value="Ndori">Ndori</option>
<option value="Kendubay">Kendubay</option>
<option value="Butere">Butere</option>
<option value="City Cabanas">City Cabanas</option>
<option value="Eastleigh">Eastleigh</option>
<option value="Imara Daima">Imara Daima</option>
<option value="Machakos Junction">Machakos Junction</option>
<option value="Mlolongo">Mlolongo</option>
<option value="Mombasa">Mombasa</option>
<option value="Mtito-Andei">Mtito-Andei</option>
<option value="Mtwapa">Mtwapa</option>
<option value="Voi">Voi</option>
<option value="Ahero">Ahero</option>
<option value="Amagoro">Amagoro</option>
<option value="Bishop Muge">Bishop Muge</option>
<option value="Bukembe">Bukembe</option>
<option value="Burnt forest">Burnt forest</option>
<option value="Buyofu">Buyofu</option>
<option value="Chavakali">Chavakali</option>
<option value="Cheptais">Cheptais</option>
<option value="Chesikaki">Chesikaki</option>
<option value="Chimoi">Chimoi</option>
<option value="Chwele">Chwele</option>
<option value="Esidende">Esidende</option>
<option value="Gatua">Gatua</option>
<option value="Gilgil">Gilgil</option>
<option value="Gjinja">Gjinja</option>
<option value="Jua kali">Jua kali</option>
<option value="Kabirengo">Kabirengo</option>
<option value="Kamkuywa">Kamkuywa</option>
<option value="Kanduyi">Kanduyi</option>
<option value="Kangemi">Kangemi</option>
<option value="Kapelengo">Kapelengo</option>
<option value="Kapenguria">Kapenguria</option>
<option value="Kibabii">Kibabii</option>
<option value="Kimaiti">Kimaiti</option>
<option value="Kimilili">Kimilili</option>
<option value="Kimwanga">Kimwanga</option>
<option value="Kipkaren">Kipkaren</option>
<option value="Kisoko">Kisoko</option>
<option value="Kocholia">Kocholia</option>
<option value="Korosiandet">Korosiandet</option>
<option value="Koteko">Koteko</option>
<option value="Koyonzo">Koyonzo</option>
<option value="Kwa muthoni">Kwa muthoni</option>
<option value="Lessus">Lessus</option>
<option value="Lugulu">Lugulu</option>
<option value="Lunga'nyiro">Lunga'nyiro</option>
<option value="Lwakhakha">Lwakhakha</option>
<option value="Lwandanyi">Lwandanyi</option>
<option value="Lwandeti">Lwandeti</option>
<option value="Madrid">Madrid</option>
<option value="Mailisaba">Mailisaba</option>
<option value="Main Office">Main Office</option>
<option value="Majengo">Majengo</option>
<option value="Makunga">Makunga</option>
<option value="Manyanja">Manyanja</option>
<option value="Matisi">Matisi</option>
<option value="Matunda">Matunda</option>
<option value="Mayanja">Mayanja</option>
<option value="Mbale">Mbale</option>
<option value="Misikhu">Misikhu</option>
<option value="Moisbridge">Moisbridge</option>
<option value="Mudeto">Mudeto</option>
<option value="Mungati">Mungati</option>
<option value="Naivasha">Naivasha</option>
<option value="Nambale">Nambale</option>
<option value="Namisi">Namisi</option>
<option value="Namwela">Namwela</option>
<option value="Nangili">Nangili</option>
<option value="Ostrich">Ostrich</option>
<option value="OTC OFFICE">OTC OFFICE</option>
<option value="Shamakhokho">Shamakhokho</option>
<option value="Shianda">Shianda</option>
<option value="Sirende">Sirende</option>
<option value="Sirisia">Sirisia</option>
<option value="Siyenga">Siyenga</option>
<option value="Soy">Soy</option>
<option value="Teremi">Teremi</option>
<option value="Timboroa">Timboroa</option>
<option value="Tororo">Tororo</option>
<option value="Total">Total</option>
<option value="Tulienge">Tulienge</option>
<option value="Turbo">Turbo</option>
<option value="Uthiru">Uthiru</option>
<option value="Village Inn">Village Inn</option>
<option value="Wamono">Wamono</option>
<option value="Westlands">Westlands</option>
<option value="Z">Z</option>
<option value="Arusha">Arusha</option>
<option value="Bella Luna on Phillips Road">Bella Luna on Phillips Road</option>
<option value="JKIA @ Paul's cafe">JKIA @ Paul's cafe</option>
<option value="Moshi">Moshi</option>
<option value="Parkside hotel">Parkside hotel</option>
<option value="YWCA">YWCA</option>
<option value="Marsabit">Marsabit</option>
<option value="Isiolo">Isiolo</option>
<option value="Karatina">Karatina</option>
<option value="Nanyuki">Nanyuki</option>
<option value="Mbale-ke">Mbale-ke</option>
<option value="Moyale">Moyale</option>
<option value="Laisamis">Laisamis</option>
<option value="Jua Kali">Jua Kali</option>
<option value="Kaburengu">Kaburengu</option>
<option value="Kamukuywa">Kamukuywa</option>
<option value="KimininI">KimininI</option>
<option value="Limuru">Limuru</option>
<option value="Luandeti">Luandeti</option>
<option value="Lumaganda">Lumaganda</option>
<option value="Lusui">Lusui</option>
<option value="Salga">Salga</option>
<option value="Test destination">Test destination</option>
<option value="West">West</option>
